
<%= form_for @changeset, @action, fn f -> %>

<div class="container">
  <h1>Add some ABAP</h1>
  <hr/>
  <button class="btn btn-default btn-xs">Save</button>
  <textarea  rows="30" style="min-width: 100%"></textarea>
</div>

<div class="container">
  <pre class="language-abap line-numbers" contenteditable="true"><code class="language-abap">
</code></pre>

</div>
<% end %>